/build/
/config.mk
include/dlg/
src/dlg/dlg.c
subprojects/*
!subprojects/*.wrap
/tests/data/*
android*/share/*
android*/include/*
android*/bin/*
android*/lib/*.so
android*/lib/*.so.6
android*/lib/*.la
ios
*.d
obj
bin
